
.container-fluid {
    align-content: center;
    margin: auto;
    padding: 20px;
}

.row {
    display: grid;
    align-content: center;
    border-style: solid;
    border-color: darkslategray;
    margin: 25px;
    padding: 20px;
}

.col-lg-3 {
    display: grid;
    margin: 25px;
    padding: 20px;
}

.buttons {
    background-color: darkslategray;
    text-align: center;
    color: whitesmoke;
    border: none;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
}

#selected-laptop-photo {
    width: 400px;
}

.col-lg-4 {
    display: inline-grid;
    vertical-align: top;
    margin: 20px;
    padding: 20px;
}

#title {
    padding: 35px;
    text-align: center;
    color: darkslategray;
    background-color: cadetblue;
    font-weight: bold;
}

.subtitle {
    color: darkslategray;
    font-weight: bold;
}